VITE_APP_GRAPH_SERVER='http://localhost:3000/graphql'
VITE_APP_API_SERVER='http://localhost:3000/api'
VITE_APP_WEB_SOCKET='ws://localhost:3000/cable'
VITE_APP_SECRET_TK='replace-with-a-new-secret-value'
VITE_APP_USE_MOCK_DATA='false'
