.ntv-modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.ntv-modal {
  max-width: 600px;
  margin: 0 auto;
}

.ntv-modal-custom-shadow {
  box-shadow: 0 10px 15px -3px rgba(43, 18, 32, 0.3), 0 4px 6px -4px rgba(43, 18, 32, 0.2);
  font-size: 14px;
}